.cart {
  margin: 20px;
}
.payment {
  min-height: 90vh;
}
.payment h4 {
  font-weight: 700;
}
.order_summary {
  min-height: 90vh;
  border-radius: 10px;
}

.methods img {
  width: 120px;
  cursor: pointer;
  margin: 20px;
}
.order_summary h3,
h5 {
  color: rgb(145, 37, 37);
  font-weight: 800;
}
.verdict h5 {
  color: rgb(9, 68, 19);
  font-size: 1rem;
  font-weight: 800;
}

.order_summary p {
  color: rgb(26, 9, 41);
  font-size: 1rem;
  font-weight: 600;
}
