.admin_panel{
    display: flex;
}
.header{
    height: 100vh;
    width: 20vw;
    background-color: rgb(42, 58, 88);
    color: rgb(214, 202, 202);
    padding: 10px;
    cursor: pointer;
}
.body{
    height: 100vh;
    width: 80vw;
    padding: 5%;
}
.header p{
    font-size: 900;
    font-weight: 1.4rem;
}