.add_food {
  height: 60vh;
  width: 100vw;
}
.add_food form {
  display: flex;
  flex-wrap: wrap;
}
.input {
  width: 40vw !important;
  margin: 10px;
}
.upload_img {
  height: 50px;
  border: 1px dashed #bbb;
  text-align: center;
  background-color: rgb(38, 82, 124);
  cursor: pointer;
}
.btn {
  margin: 50px auto;
}
